.overview-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.specification-container {
  display: flex;
  gap: 60px;
  justify-content: space-around;
}
.dc-chart {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
