.overview-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.specification-container {
  display: flex;
  gap: 60px;
}
.dc-chart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
