.view-class-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  /* background-color: #d97bc5; */
  padding: 20px;
}
.table-class-container {
  display: flex;
  gap: 100px;
}
.table-class-left,
.table-class-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.table-class-left > .input-class,
.table-class-right > .input-class {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.title-class {
  display: flex;
  height: 70px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.input-class > input {
  padding: 5px 10px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid grey;
}
.input-class-date {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #2a00b7;
  color: #fff;
}

.input-start-date,
.input-end-date,
.input-create-date,
.input-modify-date {
  display: flex;
  flex-direction: column;
}
