.create-syllabus-container {
  padding: 20px;
}

.step-bar {
  text-align: center;
  display: flex;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0.2%;
}

.step-bar-item {
  width: 200px;
  margin-right: 0.1%;
  padding: 0.5%;
  background-color: rgb(192, 192, 192);
  color: black;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.step-bar-item:hover {
  color: white;
  transition: 0.2s ease;
}

.step-bar-item-choose {
  width: 200px;
  margin-right: 0.1%;
  padding: 0.5%;
  background-color: #495aff;
  color: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  cursor: pointer;
}
.step-bar-item:hover {
  color: white;
  transition: 0.2s ease;
}

.create-general {
  display: flex;
  flex-direction: column;
}

.outline {
  overflow-y: scroll;
  height: 380px;
}

.create-outline-c {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.3s ease-out;
  /* background-color: #454545;; */
}

.syllabus-day-number {
  width: 100%;
  padding: 6px;
  background-color: #454545;
  color: white;
  border-bottom: 1px solid white;
  justify-content: space-between;
  padding: 15px;
}

.syllabus-expand-icon {
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.syllabus-content-container-c {
  margin-bottom: 10px;
  padding: 10px;
  transition: 0.3s;
  /* align-items:center; */
  /* border:2px solid black; */
}

.content-container-right {
  margin-left: 5%;
  margin-top: -10px;
  width: 90%;
}

.detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.day-panel-title {
  display: flex;
  align-items: center;
}

.minus-icon {
  margin-left: 20px;
  font-size: 25px;
  cursor: pointer;
  color: rgb(238, 29, 29);
}

.edit-icon {
  margin-left: 20px;
  font-size: 25px;
  cursor: pointer;
}

.unit-content-container {
  margin-top: 1.6em;
}

.syllabus-content-box {
  display: flex;
  align-items: center;
  margin-top: 1%;
  height: 2.3em;
  width: 99%;
  background: rgb(192, 192, 192);
  padding: 25px;
  border-radius: 14px;
}
.syllabus-content-box-right-c {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  margin-left: 0.5em;
}
.syllabus-content-format-c {
  width: 140px;
  background-color: #454545;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  border-radius: 18px;
  height: 25px;
  font-size: 14px;
  text-align: center;
}

.syllabus-content-format-c::placeholder {
  color: white;
}

.syllabus-content-name-c::placeholder {
  text-align: center;
}

.syllabus-content-name-c {
  background: rgb(192, 192, 192);
  /* width:30%; */
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  /* color: white; */
  border-radius: 18px;
  height: 25px;
  text-align: center;
}

.modal-box {
  background: blue;
}

.modal-box-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  border: 2px solid #000;
  background-color: red;
}

.save-create-generals {
  border: none;
  width: 100px;
  padding: 5px 10px;
  background-color: #495aff;
  color: #fff;
  border-radius: 10px;
  margin-top: 10px;
}

.save-create-generals:hover {
  opacity: 0.8;
}

.form-create-syllabus-action {
  display: flex;
  margin-top: 10px;
}

.form-create-syllabus-action > .form-create-syllabus-submit {
  background-color: #495aff;
  color: #fff;
  border-radius: 10px 0px 0px 10px;
}
.form-create-syllabus-action > .form-create-syllabus-draft {
  background-color: #495aff;
  color: #fff;
  border-radius: 0px 10px 10px 0px;
}
.form-create-syllabus-action > .form-create-syllabus-submit:hover,
.form-create-syllabus-action > .form-create-syllabus-draft:hover {
  opacity: 0.8;
  /* color: #495aff; */
  background-color: #6d7cff;
}
#panel1a-header {
  background-color: #6d7cff;
}

.btn-action-outline-syllabus {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.btn-save-ouline-syllabus,
.btn-previous-ouline-syllabus,
.btn-addnew-ouline-syllabus {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  width: 100px;
  color: #fff;
}

.btn-save-ouline-syllabus {
  background-color: #b4b700;
}
.btn-previous-ouline-syllabus {
  background-color: #ff0000;
}

.btn-addnew-ouline-syllabus {
  background-color: #00c600;
}

.btn-save-ouline-syllabus:hover,
.btn-previous-ouline-syllabus:hover,
.btn-addnew-ouline-syllabus:hover {
  opacity: 0.8;
}
