.detail-class-container {
  display: flex;
  flex-direction: column;
}
.detail-class-form-container {
  display: flex;
  gap: 50px;
}
.detail-class-header {
  display: flex;
  flex-direction: column;
  background-color: #2a00b7;
  color: #fff;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}
.detail-class-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  height: 520px;
  overflow-y: scroll;
}
.detail-class-form-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.detail-class-form-table {
  display: flex;
  gap: 60px;
}
.detail-class-form-label {
  display: flex;
  flex-direction: column;
}
.detail-class-form-input {
  display: flex;
  flex-direction: column;
}

.detail-class-calender {
  display: flex;
}
.detail-class-syllabus {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail-class-syllabus-title {
  display: flex;
  flex-direction: column;
  background-color: #6d7cff;
  color: #fff;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}
.detail-class-syllabus-item-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detail-class-syllabus-item {
  display: flex;
  border-radius: 10px;
  box-shadow: #a8a8a8 1px 1px 9px 1px;
}
.detail-class-syllabus-item-img {
  flex: 1;
  background-color: #6d7cff;
  border-radius: 10px 0px 0px 10px;
}
.detail-class-syllabus-item-info {
  display: flex;
  flex: 5;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.detail-class-syllabus-item-info-title {
  display: flex;
  gap: 50px;
  align-items: center;
}

.detail-class-syllabus-item-info-title > div:first-child {
  font-size: 45px;
  font-weight: bold;
}

.detail-class-syllabus-item-info-title > div:last-child {
  background-color: green;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
}
