@import url("https://fonts.cdnfonts.com/css/quicksand");

.table-container {
  display: flex;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  /* background-color: #d5cbff; */
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

th {
  text-align: left;
  background-color: #2a00b7;
  color: #fff;
  height: 30px;
  padding-left: 10px;
}

td {
  padding-left: 10px;
  height: 40px;
}
select {
  font-family: "Quicksand Bold", sans-serif;
  border-radius: 5px;
  height: 30px;
  width: 175px;
  border: none;
  box-shadow: 2px 5px 10px #888888;
}

.icon {
  margin-right: 5px;
  vertical-align: middle;
}

button {
  font-family: "Quicksand Bold", sans-serif;
  font-size: 17px;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 25px 25px 0 0;
}

.cancel-button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: #fe57da;
}
.cancel-button:hover {
  background-color: #fe57da;
  color: #fff;
  border-radius: 5px;
}

.save-button {
  padding: 5px;
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: #2a00b7;
  color: #fff;
}

.save-button:hover {
  opacity: 0.8;
}
