.search-text-input {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  width: auto;
}
.search-input-text {
  border: 1px solid black;
  border-radius: 5px;
}
.btn-search-class {
  margin-left: 10px;
  border: none;
  background-color: #2a00b7;
  color: #fff;
  border-radius: 5px;
  padding: 2px 10px;
}

.btn-search-class:hover {
  opacity: 0.8;
}

.view-class-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.th-view-class {
  text-align: center;
}
.td-status-planning,
.td-status-opening,
.td-status-scheduled,
.td-status-completed {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 30px;
  width: 150px;
  text-align: center;
  height: 80%;
  width: auto;
}

.td-status-opening {
  background-color: rgb(22, 186, 22);
}
.td-status-planning {
  background-color: rgb(35, 35, 241);
}
.td-status-scheduled {
  background-color: rgb(235, 160, 20);
}
.td-status-completed {
  background-color: black;
}

.edit-user {
  display: flex;
  justify-content: right;
}
