.choose-syllabus-training-title {
  color: red;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 35px;
}

.choose-syllabus-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.training-program-content {
  display: flex;
  flex: 5;
  flex-direction: column;
  border: 1px solid black;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  cursor: pointer;
}

.training-program-content:hover {
  background-color: rgb(101, 255, 126);
  transition: 0.2s;
}
/* .training-program-main {
} */
.training-program-content-main {
  height: 600px;
  overflow-y: auto;
}

.training-program-content-main-2 {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.training-program-content-main-2 > button {
  width: 150px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
}

.training-program-content-main-2 > button:first-child {
  background-color: red;
}
.training-program-content-main-2 > button:last-child {
  background-color: rgb(0, 16, 247);
}

.training-program-content-main-2 > button:hover {
  opacity: 0.8;
}
.training-program-content-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.training-program-choose {
  /* display: flex; */
  flex-direction: column;
  flex: 1;
  border-left: 1px solid grey;
  padding: 20px;
}
.training-program-choice {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  width: 500px;
}

.choose-syllabus-training-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 1170px;
}

.form-choose-syllabus-training {
  display: flex;
  gap: 20px;
  /* border: 1px solid black; */
  box-shadow: 5px 3px 10px 5px rgb(118, 118, 118);
  padding: 30px;
  border-radius: 10px;
}

.btn-delete-choosed-container {
  display: flex;
  justify-content: flex-end;
}
.btn-delete-choosed-syllabus {
  border: none;
  padding: 5px 10px;
  width: 100px;
  border-radius: 5px;
  background-color: red;
  color: #fff;
}

.btn-delete-choosed-syllabus:hover {
  opacity: 0.8;
}

.popup-confirm-training {
  font-size: 30px;
  display: flex;
  width: 500px;
  height: 200px;
  justify-content: center;
  gap: 20px;
}

.create-training-action {
  display: flex;
  gap: 60px;
}

.create-training-action > button {
  font-size: 25px;
  border: none;
  width: 100px;
  border-radius: 10px;
}

.create-training-action > button:last-child {
  background-color: #2a00b7;
  color: #fff;
}

.create-training-action > button:last-child:hover {
  opacity: 0.8;
}
.create-training-action > button:first-child:hover {
  background-color: #ff0000;
  color: #fff;
}
