.head-syllabus-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-syllabus-container {
  display: flex;
  gap: 20px;
}
.search-text-syllabus,
.search-date {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
}
.search-input-text-syllabus {
  border: none;
}
.search-input-text:focus {
  outline-width: 0;
}

.search-input-date {
  border: none;
}
.action-syllabus-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button-import-syllabus,
.button-add-syllabus {
  display: flex;
  align-items: center;
  border: none;
  gap: 5px;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
}

.button-import-syllabus {
  background-color: #2a00b7;
  color: #fff;
}

.button-import-syllabus:hover {
  opacity: 0.8;
}

.button-add-syllabus:hover {
  text-decoration: underline;
}

.btn-search {
  display: flex;
  align-items: center;
  gap: 5px;
}

.table-syllabus-container {
  margin-top: 20px;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.726); /* Màu nền phủ mờ */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Đặt z-index cao hơn để nó hiển thị trên bảng */
}

.loading-container {
  position: relative;
  z-index: 1;
}

