.detail-container {
  padding: 20px;
}

.detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.three-dot-icon {
  font-size: 2.5em;
  cursor: pointer;
}

.option-edit {
  /* CSS cho Option Edit */
  border: 1px solid rgb(192, 192, 192);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  padding: 20px;
  z-index: 2;
  position: absolute;
  right: 2%;
  background-color: #fff;
}

.option-header {
  font-size: 17px;
}

.option-pick {
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
  padding: 8px;
}

.option-pick:hover {
  color: #495aff;
}

.option-icon {
  margin-right: 1.2em;
}

.container {
  padding: 20px;
}

.detail-title {
  margin-bottom: 20px;
  height: 15px;
  margin-top: 0px;
  font-size: 2em;
}
.detail-head-title {
  width:500px;
  display: flex;
  align-items: center;
  height: 70px;
}

.detail-head-title .topic-name {
  font-size: 2.8em;
  margin-right: 5%;
}

.detail-title-foot {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.detail-status {
  height: 36px;
  width: 60px;
  border-radius: 16px;
  padding: 8px;
  color: white;
  background: #2a00b7;
  border: 1px solid;
  font-size: 0.8em;
  text-align: center;
}

.detail-code {
  margin-right: 2%;
}

/*detail body*/
.detail-body {
  font-size: 1.1em;
}

.detail-general-header {
  margin-top: 0.5%;
  display: flex;
}

.detail-body .detail-author {
  font-size: 1em;
}

.general-left,
.general-right {
  font-size: 0.8em;
  border: 1px solid lightgrey;
  width: 50%;
}

.general-left {
  padding: 15px;
  margin-right: 9%;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.general-level {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.level-icon {
  align-items: center;
  display: flex;
  width: 50%;
  padding: 5px;
  margin-right: 8%;
}

.level-icon div {
  margin: 0 5px;
}

.priority {
  /* height: 36px; */
  width: 100px;
  border-radius: 16px;
  color: white;
  background: #454545;
  border: 1px solid;
  font-size: 0.8em;
  text-align: center;
}

.general-right {
  padding: 15px;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.requirement {
  align-items: center;
  display: flex;
  /* width:50%; */
  padding: 5px;
  /* margin-right:8%; */
}

.requirement div {
  margin: 0 5px;
}

.requirement-content {
  margin-left: 2%;
}

/*course-objective*/

.course-objective {
  margin-top: 1%;
}

.course-title {
  align-items: center;
  display: flex;
}
.course-title div {
  margin: 0 5px;
}

.course-content {
  margin-top: 0.5%;
}

.step-bar {
  text-align: center;
  display: flex;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0.2%;
  align-items: center;
}

.step-bar-item {
  width: 200px;
  margin-right: 0.1%;
  padding: 0.5%;
  background-color: rgb(192, 192, 192);
  color: black;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.step-bar-item:hover {
  color: white;
  transition: 0.2s ease;
}

/**/
.outline {
  overflow-y: scroll;
  height: 380px;
}

.syllabus-outline {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.syllabus-day-number {
  width: 100%;
  padding: 6px;
  background-color: #454545;
  color: white;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.syllabus-expand-icon {
  font-size: 25px;
  cursor: pointer;
}

.syllabus-content-container {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  transition: 0.3s;
  /* align-items:center; */
  /* border:2px solid black; */
}

.unit-content {
  display: flex;
  width: 10%;
}

.syllabus-content-box {
  display: flex;
  align-items: center;
  margin-top: 1%;
  height: 2.3em;
  width: 99%;
  background: rgb(192, 192, 192);
  padding: 25px;
  border-radius: 14px;
}

.content-name {
  font-size: 20px;
}

.content-duration {
  font-size: 10px;
  font-style: italic;
  color: #3a4750;
}

.content-container-right {
  margin-left: 5%;
  margin-top: -10px;
  width: 90%;
}

.unit-content-container {
  margin-top: 1.6em;
}

.syllabus-content-name {
  width: 30%;
}

.syllabus-content-format {
  width: 140px;
  background-color: #454545;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  border-radius: 18px;
  height: 25px;
  font-size: 14px;
}
.syllabus-content-box-right {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}

.step-bar-item-choose {
  width: 200px;
  margin-right: 0.1%;
  padding: 0.5%;
  background-color: #495aff;
  color: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  cursor: pointer;
}
.step-bar-item:hover {
  color: white;
  transition: 0.2s ease;
}

.syllabus-content-format-online {
  border: 1px solid #d97bc5;
  color: #d97bc5;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 140px;
  border-radius: 18px;
  height: 25px;
  font-size: 14px;
}

.material-upload {
  font-size: 30px;
}

.link-update{
  color: black;
  text-decoration: none;
}

.download-icon{
  font-size:40px;
  color:#495aff;
  display:flex;
  align-items: center;

}
.download-container{
  display:flex;
  align-items: center;
  margin-left:50%;
}

.other-container{
  display:flex;
  flex-wrap: wrap;
  width:100%;
}

.other-chart{
  width:50%;
  padding:20px;
}

.other-text{
  width:50%;
  /* display: flex; */
  /* justify-content: center; */
}

.chart-delivery{
  width: 350px !important;
  height:350px !important;
  margin-left: 25%;
}
