@import url("https://fonts.cdnfonts.com/css/quicksand");

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.header-title {
  margin: 10px;
}

.header-title > h1 {
  font-size: 25px;
  text-align: center;
  color: #fff;
  padding-left: 25px;
}
.header-action {
  display: flex;
  gap: 10px;
  color: #2a00b7;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  margin-right: 10px;
  border-radius: 10px;
  justify-content: space-between;
}
.btn-message,
.btn-notification {
  border: none;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.btn-message:hover,
.btn-notification:hover {
  background-color: #d97bc5;
}
.user-action {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.role-user {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}
.role-user-admin {
  background-color: rgb(22, 186, 22);
}
.role-user-trainer {
  background-color: rgb(35, 35, 241);
}
.role-user-super-admin {
  background-color: rgb(235, 160, 20);
}
.name-user {
  font-size: 25px;
  cursor: pointer;
}

.name-user:hover {
  text-decoration: underline;
}

.logout-user {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.logout-user:hover {
  background-color: #2a00b7;
  color: #fff;
}
.logout-user > svg {
  font-size: 25px;
}
