.user-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: auto;
  background: #fff;
  padding-bottom: 20px;
  border-radius: 30px;
  align-items: center;
}

.btn-close {
  position: absolute;
  top: 5%;
  left: 93%;
}

.btn-close > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-close > button:hover {
  opacity: 0.5;
}
.user-form-container {
  padding: 30px;
}
.ip {
  display: flex;
  gap: 50px;
}

.input-form > input {
  font-size: 20px;
  padding: 6px;
  color: #797979;
  outline: none;
  border: 1px solid #797979;
  border-radius: 6px;
  margin: 5px 0px;
}

.user-gender {
  display: flex;
  gap: 25px;
  margin: 10px 0px;
}

.user-gender-choice {
  display: flex;
  gap: 10px;
}

.user-isActive {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 10px 0px;
}
.user-isActive > input {
  color: #2a00b7;
}

.user-type {
  margin: 10px 0px;
}

.btn-action-form {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.btn-action-save {
  border: none;
  background-color: #2a00b7;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 95px;
}

.btn-action-save:hover {
  opacity: 0.8;
}
