@import url("https://fonts.cdnfonts.com/css/quicksand");

.home-container {
  font-family: "Quicksand Bold", sans-serif;
  display: flex;
  height: 100vh;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; /* Sidebar chiếm 1 phần */
  background-color: #fff;
  color: #2a00b7;
  margin: 10px 5px 10px 10px;
  padding: 10px;
  border-radius: 10px;
}
.title-sidebar {
  font-size: 25px;
  text-align: center;
}
.sidebar-container ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-container ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  cursor: pointer;
  width: 150px;
}

.sidebar-container ul li:hover {
  background-color: #2a00b7;
  border-radius: 10px;
  color: #fff;
}
.sidebar-container ul li:hover .home-link {
  color: #fff;
}
.sidebar-container ul li:nth-child(2) {
  position: relative;
}
.home-link {
  text-decoration: none;
  color: #2a00b7;
}

/* CSS cho submenu */
.sub-menu {
  display: none; /* Ẩn submenu ban đầu */
  list-style-type: none;
  padding: 0;
  background-color: #fff;
  border-radius: 10px;
  z-index: 1; /* Đảm bảo submenu hiển thị trên mọi nội dung khác */
  width: 150px; /* Đặt chiều rộng của submenu */
}
.sub-menu li {
  padding: 10px;
}

/* CSS khi submenu được hiển thị */
.show-sub-menu {
  display: block;
  margin-left: 20px;
}
.content-container {
  flex: 7; /* Nội dung chiếm 3 phần */
  padding: 20px;
  background-color: #fff;
  margin: 10px 10px 10px 5px;
  border-radius: 10px;
}

.content-container h1 {
  font-size: 24px;
}
