.add-user {
  display: flex;
  justify-content: end;
}

.btn-add-user {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  border: none;
  background-color: #2a00b7;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.btn-add-user:hover {
  opacity: 0.8;
}

.user-form-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.user-form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.th-user-list-type,
.th-user-list-gender,
.th-user-list-status,
.td-gender-male,
.td-gender-female,
.cb-user-list-status {
  text-align: center;
}
.td-gender-male {
  color: #2a00b7;
}

.td-gender-female {
  color: #ff00dd;
}
.td-user-list-status {
  display: flex;
  align-items: center;
  justify-content: center;
}
.td-status-superAdmin,
.td-status-trainer,
.td-status-admin {
  display: flex;
  color: white;
  border-radius: 30px;
  width: 150px;
  align-items: center;
  justify-content: center;
  height: 80%;
  padding: 6px;
}

.td-status-admin {
  background-color: #024fa0;
}
.td-status-trainer {
  background-color: #50b846;
}
.td-status-superAdmin {
  background-color: #f2721e;
}

.td-user-status {
  text-align: center;
}

.view-user-pagination {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

.table-syllabus tbody tr:nth-child(odd) {
  background-color: white;
}

.table-syllabus tbody tr:nth-child(even) {
  background-color: #dddddd;
}

.td-user-list-name {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
}
