.view-syllbus-container > h1 {
  display: flex;
  background-color: #2a00b7;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.btn-view-training-program {
  border: none;
  background-color: inherit;
  color: #2a00b7;
}
.btn-view-training-program:hover {
  color: red;
  text-decoration: underline;
}
.td-status-active,
.td-status-inactive,
.td-status-drafting {
  display: flex;
  color: white;
  border-radius: 30px;
  width: 150px;
  height: 80%;
  align-items: center;
  justify-content: center;
}

.td-status-active {
  background-color: rgb(22, 186, 22);
}
.td-status-drafting {
  background-color: rgb(35, 35, 241);
}
.td-status-inactive {
  background-color: rgb(141, 141, 141);
}
